<div class="container">
          <h1 class="jumbotron-heading">Welcome to Home Page</h1>
          <p class="lead text-muted">This is the User Blog Page where the users can register their details and post their microposts </p>
          <p>
            <%= link_to 'Register User', new_user_path, :class =>'btn btn-primary'%>
           <%= link_to 'New Micropost', new_micropost_path, :class =>'btn btn-primary'%>

          </p>
        </div>
    

